#game_screen {
    width:          434px;
    margin:         0px 0px;
    padding:        0px;
}

#game_box {
    width: 436px;
    padding: 0px 0px;
    margin: 0px 0px 0px auto;
    float: left;
}

h2 { 
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center;
}

#instructions {
    font-family: "Open Sans", sans-serif;
    float: right;
    width: 350px;
    margin: 0px auto 0px 0px;
}

#screen {
    width: 900px;
    margin: 0px auto;
}
